.register-container {
  height: 80%;
  width: 100%;
  // border: 2px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  .register-content {
    background-color: white;
    border: 2px solid green;
    height: 100%;
    width: 50%;
  }
}
