.login-bgr {
  height: 100vh;
  background-image: url(../../assets/bgr.jpg);
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;

  .login-container {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    width: 350px;
    height: 500px;
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .login-content {
      margin: 10px;

      .text-login {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
      }
      .text-input {
        margin: 5px 0;
      }
      .pass-eye {
        position: relative;
        .eye {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }
      }

      .btn-input {
        margin: 15px 0;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        height: 30px;
        border-radius: 5px;
        background-color: white;
        font-size: 15px;
        font-weight: 600;
      }
      .other-login {
        font-size: 16px;
        font-weight: 500;
        color: gray;
      }
      .app-login {
        display: flex;
        align-items: center;
        justify-content: center;
        .gg {
          font-size: 40px;
          border-radius: 50%;
          border: 2px solid black;
          padding: 8px;
          margin: 12px;
        }
        .fb {
          font-size: 40px;
          border-radius: 50%;
          border: 2px solid black;
          padding: 7px 16px;
          margin: 12px;
        }
      }
    }
  }
}
