.about-container {
  width: 100%;
  height: 350px;
  background-color: #efefef;
  border-bottom: 3px solid #efeef5;
  border-top: 3px solid #efeef5;
  display: flex;
  align-items: center;
  justify-content: center;
  .about-content {
    height: inherit;
    width: 90%;
    display: flex;
    align-items: center;
    .left-content {
      display: flex;
      flex-direction: column;
      .logo {
        height: 50px;
        width: 40%;
        background: url(../../../assets/svg-path.svg) center center;
        background-repeat: no-repeat;
        margin-bottom: 5px;
      }
      strong {
        margin-bottom: 5px;
      }
      .address-left {
        margin-bottom: 5px;
        display: flex;
        i {
          margin-right: 5px;
        }
      }
      .checkVar {
        display: flex;
        .img1 {
          height: 90px;
          width: 90px;
          background: url("../../../assets/bo-cong-thuong.svg") center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .img2 {
          height: 90px;
          width: 90px;
          background: url("../../../assets/bo-cong-thuong.svg") center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    .mid-content {
      ul {
        list-style: none;
        li {
          padding-bottom: 5px;
          color: #45c3d2;
        }
      }
    }
    .right-content {
      .headQuarter {
        margin-bottom: 20px;
        .address-right {
          font-size: smaller;
        }
      }
    }
  }
}
