.Home-header-container {
  width: 100%;
  height: 70px;
  padding: 10px 0 10px 20px;
  position: fixed;
  background-color: white;
  z-index: 10000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  .Home-header-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    cursor: pointer;
    .content-left {
      display: flex;
      align-items: center;
      width: 25%;
      .content-logo {
        background: url("../../assets/svg-path.svg") center center no-repeat;
        height: 75%;
        width: 75%;
      }
      i {
        font-size: 25px;
        margin: 0 20px;
      }
    }
    .content-mid {
      display: flex;
      box-shadow: none;
      width: 50%;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px;
      b {
        display: flex;
        justify-content: center;
        font-size: 15px;
      }
    }
    .content-right {
      width: 25%;
      display: flex;
      .support {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 45px;
        i {
          font-size: 25px;
        }
        .support-text {
          font-size: large;
          font-weight: 500;
          margin-left: 5px;
        }
      }
      .lang {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        .lang-vi {
          font-size: large;
          margin-right: 5px;
          opacity: 0.5;
          &.active {
            span {
              opacity: 1;
              color: orange;
            }
          }
          &:hover {
            opacity: 1;
          }
        }
        .lang-en {
          font-size: large;
          opacity: 0.5;
          &.active {
            span {
              opacity: 1;
              color: blue;
            }
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
.Sub-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 10000;
  border: 1px solid #f1f1f1;
  &.active {
    display: none;
  }
  .Sub-nav-container {
    height: 100%;
    width: 250px;
    background-color: white;
    position: relative;
    ul {
      height: 100%;
      list-style: none;
      padding-inline-start: 1px;
      li {
        height: 80px;
        border: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 20px;

        //táº¡m
        color: grey;

        a {
          color: grey;
          text-decoration: none;
        }
        i {
          padding-left: 15px;
        }
      }
    }
  }
}

.Home-header-banner {
  background-image: url("../../assets/bookingcare-cover-4.1.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .banner-container-up {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      color: #fff;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #333;
      text-align: center;
      font-size: 30px;
    }
    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 400px;
      background-color: #f7d800;
      border-radius: 50px;
      i {
        margin-right: 25px;
        font-size: 20px;
      }
      input {
        height: 100%;
        width: 75%;
        outline: none;
        background-color: #f7d800;
        border: none;
      }
    }
  }
  .banner-container-down {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 1)
    );
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: end;
  }
}

.contentContainer {
  text-align: center;
  margin: 0 20px;
  .content-img {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    img {
      height: 65%;
      width: 65%;
      margin-top: 5px;
    }
  }
  .content-option {
    font-size: medium;
    font-weight: bold;
    text-align: center;
  }
}
