@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;
  .right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .Welcome {
      padding: 15px;
    }
    .language {
      display: flex;
      .lang-vi {
        padding-right: 10px;
        cursor: pointer;
        opacity: 0.8;
        &.active {
          span {
            color: orange !important;
            opacity: 1 !important;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
      .lang-en {
        padding-right: 10px;
        cursor: pointer;
        opacity: 0.8;
        &.active {
          span {
            color: red !important;
            opacity: 1;
          }
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .btn-logout {
      color: $common-text-color;
      line-height: 40px;
      height: 40px;
      padding: 0 10px;
      &:hover {
        background-color: darken($colormain, 5);
      }
      i {
        font-size: $base-size + 1px;
      }
    }
  }
}
